---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #000000;
    background-image: url("/collective-speculation/assets/images/main.jpg");
    text-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.5);
}

.btn {
    color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.03);
    border-color: rgba(255,255,255,0.8);
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 1.0;
}

.page-header > .btn {
    display: none
}
